<h3>{{title}}</h3>
<div class="form-group" style="float: left; width:50%;">
  <form #templateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">First Name: </label>
      <input class="form-control" type="text" id="firstname" name="firstname" #fname="ngModel" ngModel><br>
      <label for="lastname">Last Name: </label>
      <input class="form-control" type="text" id="lastname" name="lastname" ngModel><br>
      <label for="email">Email: </label>
      <input class="form-control" type="text" id="email" name="email" ngModel><br>
      <label for="gender">Gender: </label>
      <input class="form-check-input" type="radio" value="male" id="gender" name="gender" ngModel> Male
      <input class="form-check-input" type="radio" value="female" id="gender" name="gender" ngModel> Female<br>
      <label for="isMarried">Married: </label>
      <input class="form-check-input" type="checkbox" id="isMarried" name="isMarried" ngModel><br>
      <label for="country">country: </label>
      <select class="form-control" id="country" name="country" ngModel>
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{c.name}}
        </option>
      </select><br>
      <div class="form-group" ngModelGroup="address">
        <p>
          <label for="city">City: </label>
          <input class="form-control" type="text" id="city" name="city" ngModel>
        </p>
        <p>
          <label for="street">Street: </label>
          <input class="form-control" type="text" id="street" name="street" ngModel>
        </p>
        <p>
          <label for="pincode">Zip Code: </label>
          <input class="form-control" type="text" id="pincode" name="pincode" ngModel>
        </p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="setDefault()">Reset</button>
      <br>
      <button type="button" class="btn btn-secondary" (click)="setValue()">SetValue</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="setAddress()">Address</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="setCountry()">Country</button>
      <br>
      <button type="button" class="btn btn-info" (click)="patchName()">Name</button>&nbsp;
      <button type="button" class="btn btn-info" (click)="patchAddress()">Address</button>&nbsp;
      <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
    </div>
  </form>
</div>

<div class="container" style="float: right; width:50%;">
  <h3>Form Status</h3>
  <b>valid : </b>{{templateForm.valid}}<br>
  <b>invalid : </b>{{templateForm.invalid}}<br>
  <b>touched : </b>{{templateForm.touched}}<br>
  <b>untouched : </b>{{templateForm.untouched}}<br>
  <b>pristine : </b>{{templateForm.pristine}}<br>
  <b>dirty : </b>{{templateForm.dirty}}<br>
  <b>disabled : </b>{{templateForm.disabled}}<br>
  <b>enabled : </b>{{templateForm.enabled}}<br>
  <br>
  <h3>Form Value</h3>
  {{templateForm.value | json}}
</div>