<h3>{{title}}</h3>
<div class="form-group" style="float: left; width:50%;">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" novalidate>
    <p>
      <label for="firstname">First Name: </label>
      <input class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
    </p>
    <p>
      <label for="lastname">Last Name </label>
      <input class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
    </p>

    <p>
      <label for="email">Email </label>
      <input class="form-control" type="text" id="email" name="email" formControlName="email">
    </p>

    <p>
      <label for="gender">Gender : </label>
      <input class="form-control-input" type="radio" value="male" id="gender" name="gender" formControlName="gender">
      Male
      <input class="form-control-input" type="radio" value="female" id="gender" name="gender" formControlName="gender">
      Female
    </p>

    <p>
      <label for="isMarried">Married : </label>
      <input class="form-control-input" type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
    </p>

    <p>
      <label for="country">Country </label>
      <select class="form-control" id="country" name="country" formControlName="country">
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{c.name}}
        </option>
      </select>
    </p>

    <div formGroupName="address">

      <p>
        <label for="city">City</label>
        <input class="form-control" type="text" class="form-control" name="city" formControlName="city">
      </p>

      <p>
        <label for="street">Street</label>
        <input class="form-control" type="text" class="form-control" name="street" formControlName="street">
      </p>

      <p>
        <label for="pincode">Zip Code</label>
        <input class="form-control" type="text" class="form-control" name="pincode" formControlName="pincode">
      </p>

    </div>

    <button class="btn btn-primary">Submit</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="setDefault()">Reset</button>
    <br><br>
    <button type="button" class="btn btn-success" (click)="setValue()">SetValue</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="setAddress()">Address</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="setCountry()">Country</button>&nbsp;
    <br><br>
    <button type="button" class="btn btn-danger" (click)="patchName()">Name</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="patchAddress()">Address</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
  </form>
</div>

<div class="container" style="float: right; width:50%;">
  <h3>Form Status</h3>
  <b>valid : </b>{{reactiveForm.valid}}<br>
  <b>invalid : </b>{{reactiveForm.invalid}}<br>
  <b>touched : </b>{{reactiveForm.touched}}<br>
  <b>untouched : </b>{{reactiveForm.untouched}}<br>
  <b>pristine : </b>{{reactiveForm.pristine}}<br>
  <b>dirty : </b>{{reactiveForm.dirty}}<br>
  <b>disabled : </b>{{reactiveForm.disabled}}<br>
  <b>enabled : </b>{{reactiveForm.enabled}}<br>
  <br>
  <h3>Form Value</h3>
  {{reactiveForm.value |json}}
</div>