<h3>{{title}}</h3>
<div class="form-group" style="float: left; width:50%;">
  <form #templateForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>
        <label for="firstname">First Name: </label>
        <input class="form-control" type="text" id="firstname" name="firstname" #fname="ngModel" ngModel>
      </p>
      <p>
        <label for="lastname">Last Name: </label>
        <input class="form-control" type="text" id="lastname" name="lastname" ngModel>
      </p>
      <div ngModelGroup="address">
        <p>
          <label for="city">City: </label>
          <input class="form-control" type="text" id="city" name="city" ngModel>
          <label for="street">Street: </label>
          <input class="form-control" type="text" id="street" name="street" ngModel>
          <label for="pincode">Zip Code: </label>
          <input class="form-control" type="text" id="pincode" name="pincode" ngModel>
        </p>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div>
    <button class="btn btn-danger" type="button" (click)="setValue()">SetValue</button>
    <button class="btn btn-danger" type="button" (click)="setAddress()">Address</button>
    <button class="btn btn-danger" type="button" (click)="setFirstname()">First Name</button>
  </div>
  <div>
    <button class="btn btn-secondary" type="button" (click)="withoutOnlySelf()">Without Only Self</button>
    <button class="btn btn-secondary" type="button" (click)="withOnlySelf()">With Only Self</button>
  </div>
  <div>
    <button class="btn btn-success" type="button" (click)="withoutEmitEvent()">Without EmitEvent</button>
    <button class="btn btn-success" type="button" (click)="withEmitEvent()">With EmitEvent</button>
  </div>
</div>
<div class="container" style="float: right; width:50%;">
  <h3>Form Status</h3>
  <b>status : </b>{{templateForm.status}}<br>
  <b>valid : </b>{{templateForm.valid}}<br>
  <b>invalid : </b>{{templateForm.invalid}}<br>
  <b>touched : </b>{{templateForm.touched}}<br>
  <b>untouched : </b>{{templateForm.untouched}}<br>
  <b>pristine : </b>{{templateForm.pristine}}<br>
  <b>dirty : </b>{{templateForm.dirty}}<br>
  <b>disabled : </b>{{templateForm.disabled}}<br>
  <b>enabled : </b>{{templateForm.enabled}}<br>
  <h3>Form Value</h3>
  {{templateForm.value | json }}
</div>