<h1>Form validation using Reactive Form</h1>
<div class="form-group">
    <form [formGroup]="form">
        <div>
            <label class="col-9">String Comparison (password)</label>
            <div class="col-9">
                <input class="form-control" type="password" formControlName="password">
                <p class="alert alert-danger" *ngIf="form.controls.password.errors?.required">required error</p>
                <input class="form-control" type="password" formControlName="certainPassword">
                <p class="alert alert-danger" *ngIf="form.controls.certainPassword.errors?.equalTo">equalTo error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Range of value</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="rangeCont">
                <p class="alert alert-danger" *ngIf="form.controls.rangeCont.errors?.['rangeLength']">error message</p>
            </div>
        </div>

        <div>
            <label class="col-3">Required</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="requried">
                <p class="alert alert-danger" *ngIf="form.controls.requried.errors?.required">required error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Minimum Length</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="minlength">
                <p class="alert alert-danger" *ngIf="form.controls.minlength.errors?.minlength">minlength error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Maximum Length</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="maxlength1">
                <p class="alert alert-danger" *ngIf="form.controls.maxlength1.errors?.maxlength">maxlength error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Greater Than</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="greaterthan">
                <p class="alert alert-danger" *ngIf="form.controls.greaterthan.errors?.gt">greater than error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Greater than or equal</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="greaterthanorequal">
                <p class="alert alert-danger" *ngIf="form.controls.greaterthanorequal.errors?.gte">greater than error
                </p>
            </div>
        </div>
        <div>
            <label class="col-3">Base64</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="base64">
                <p class="alert alert-danger" *ngIf="form.controls.base64.errors?.base64">base64 error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Date Validation</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="date">
                <p class="alert alert-danger" *ngIf="form.controls.date.errors?.date">date error</p>
            </div>
        </div>
        <div>
            <label class="col-3">Max Date</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="maxDate">
                <p class="alert alert-danger" *ngIf="form.controls.maxDate.errors?.maxDate">maxDate error</p>
            </div>
        </div>

        <div>
            <label class="col-3">Minimum Date</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="minDate">
                <p class="alert alert-danger" *ngIf="form.controls.minDate.errors?.minDate">minDate error</p>
            </div>
        </div>

        <div>
            <label class="col-3">Digits</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="digits">
                <p class="alert alert-danger" *ngIf="form.controls.digits.errors?.digits">digits error</p>
            </div>
        </div>

        <div>
            <label class="col-3">Email</label>
            <div class="col-9">
                <input class="form-control" type="text" formControlName="email">
                <p class="alert alert-danger" *ngIf="form.controls.email.errors?.email">email error</p>
            </div>
        </div>
    </form>
</div>